<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
  </appSettings>

  <connectionStrings>
    <add name="Sandbox" connectionString="Data Source=ROIAS-PC1027\SQLEXPRESS;Initial Catalog=Sandbox2;Integrated Security=True" />
  </connectionStrings>

  <akka>
    <hocon>
      <![CDATA[
      akka {
        log-config-on-start = on
        stdout-loglevel = DEBUG
        loglevel = DEBUG
      
        loggers = ["Akka.Logger.log4net.Log4NetLogger, Akka.Logger.log4net"]
      
        actor {
          provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
          debug {
            receive = on
            autoreceive = on
            lifecycle = on
            event-stream = on
            unhandled = on
          }
          serializers {
            wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
          }
          serialization-bindings {
            "System.Object" = wire
          }
        }
        
        # remote is set programatically
        remote {
          helios.tcp {            
            hostname = "127.0.0.1"
            port = 25500
          }
        }
        
        cluster {
          auto-down-unreachable-after = 5s
          
          sharding {
            least-shard-allocation-strategy.rebalance-threshold = 3
            role = sharding
          }
          
          seed-nodes = [ "akka.tcp://sharded-cluster-system-test@localhost:5555" ]
          #seed-nodes = [ "akka.tcp://sharded-cluster-system-test@127.0.0.1:5555", "akka.tcp://sharded-cluster-system-test@127.0.0.1:5666" ]
          
          roles = [ "sharding" ]
          
          client.receptionist {
            number-of-contacts = 5
            response-tunnel-receive-timeout = 30s
          }
        }
       
        persistence {
           publish-plugin-commands = on
            journal {
              plugin = "akka.persistence.journal.sql-server"
              sql-server {
                  class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"
                  plugin-dispatcher = "akka.actor.default-dispatcher"
                  timestamp-provider = "Akka.Persistence.Sql.Common.Journal.DefaultTimestampProvider, Akka.Persistence.Sql.Common"
                  table-name = EventJournal
                  metadata-table-name = Metadata
                  schema-name = dbo
                  auto-initialize = on
                  connection-string-name = "Sandbox"
                  #connection-string = "Data Source=ROIAS-PC1027\\SQLEXPRESS;Initial Catalog=Sandbox2;Integrated Security=True"
               }
            }
            snapshot-store {
                   plugin = "akka.persistence.snapshot-store.sql-server"
                   sql-server {
                       class = "Akka.Persistence.SqlServer.Snapshot.SqlServerSnapshotStore, Akka.Persistence.SqlServer"
                       plugin-dispatcher = "akka.actor.default-dispatcher"
                       table-name = SnapshotStore
                       schema-name = dbo
                       auto-initialize = on
                       connection-string-name = "Sandbox"
                       #connection-string = "Data Source=ROIAS-PC1027\\SQLEXPRESS;Initial Catalog=Sandbox2;Integrated Security=True"
                   }
            }
        }
      }
      ]]>
    </hocon>
  </akka>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>